.idea
.DS_Store
.project
.xml/
.bpmn
.cache*
.classpath
.settings
target
bin/
project/project
project/target
deployments/*.war
deployments/*.jar
deployments/*.rar
deployments/*.undeployed
deployments/*.deployed
